# IDEA Specific
/.idea
*.iml

# Eclipse Specific
.classpath
.project
.externalToolBuilders

# Holdovers from the ol' Ant system
/bin
/lib

# Prevent Maven Leakage
/target

# Javadoc
/doc
resources/english.yml
