name: Maven Compile
on:
    push:
        branches: [master]
    pull_request:
        branches-ignore: [l10n_master]
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java: ['17']
        name: Java (Temurin) ${{ matrix.java }}
        steps:
            - uses: actions/checkout@v2
            - name: Set up Eclipse Temurin
              uses: actions/setup-java@v2
              with:
                  distribution: 'temurin'
                  java-version: ${{ matrix.java }}
                  java-package: jdk
                  cache: 'maven'
            - name: Compile with Maven
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: mvn -B compile test -P no-apidoc