name: Run Tests
on:
    push:
        branches-ignore: [l10n_master]
    pull_request:
        branches-ignore: [l10n_master]
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java: ['17']
        steps:
            - uses: actions/checkout@v3
            - name: Set up Java
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: ${{ matrix.java }}
                  java-package: jdk
                  cache: 'maven'
            - name: Run Tests
              run: mvn test -P test
